.addForm {
  margin-bottom: 30px;
}

.addForm input {
  width: 230px;
  height: 30px;
}
.addForm button {
  width: 140px;
  height: 30px;
  color: #fff;
  background-color: green;
}

.addForm button:hover {
  background-color: black;
}
